@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.button {
  font-family: 'Acme', sans-serif;
  font-size: 1.9vh;
  font-weight: bolder;
  color: rgb(216, 23, 23);
  background-color: rgb(219, 202, 202);
  border-radius: 5%;
  height: 5vh;
  width: 30%;
}

.button:hover {
  color: black;
  font-size: 2.1vh;
  border: 1px solid red;
}

button[type="button"]:disabled {
  background: rgb(12, 11, 11);
  color: rgb(117, 110, 110);
  border: none;
  font-size: 1.7vh;
}