@import url("https://fonts.googleapis.com/css2?family=Candal&family=Sigmar+One&display=swap");
.register-container{
  background: url("../images/perfilfundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  overflow:hidden;
  font-family: "Candal", sans-serif;
  font-size: 2.3vh;
  color: black;
}


.register-form{
  width: 50%;

}

.logo-marvel-register{
  width: 25%;
  padding-top: 5%;
}

.button-register{
  height: 12%;
}

@media screen and (max-width:800px){
  .logo-marvel-register{
    width: 40%;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 5%;
  }

  .button-register{
    height: 16%;
    margin-top: 15%;
  }
}